<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->

	<!-- SSL 인증서 설정하기 -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>my-secure-app</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
			<!-- 
				NONE : 아무것도 안함
				INTEGRAL : 데이터를 볼수는 있으나 변조를 못하게 해줌. 무결성
				CONFDENTIAL : 데이터를 훔쳐보지 못하게함 . 기밀성
			 -->
		</user-data-constraint>
	</security-constraint>
	<!-- SSL 인증서 설정하기 -->


	<!-- Error 페이지 처리 -->
	<error-page>
		<error-code>404</error-code>	
		<location>/error/404.tiles</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>	
		<location>/error/500.tiles</location>
	</error-page>
	<!-- Error 페이지 처리 -->

	 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
		<param-value>/WEB-INF/spring/application-security.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		
		<!-- 페이지 호출할 때 끝에 .tiles를 붙여주면 Tiles가 적용되는 페이지를 불러온다 -->
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping> 

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- UTF-8 인코딩 처리 -->
	<!-- 1. -->
	<filter>
		<filter-name>encoding</filter-name> <!-- 인코딩 이름 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- 2. -->
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern> <!-- /뒤에 나오는 모든 주소에 대한 한글 처리를 하겠다 -->
	</filter-mapping>
	<!-- UTF-8 인코딩 처리 -->
	
	<!-- Spring Security --> 
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter> 
	
	<filter-mapping> 
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>