@charset "UTF-8";

.head_title_1 h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.286rem;
	color: #1a1a1a;
}

.head_title_1 p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #4a4a4a;
}

.head_title_1 div{
	padding-bottom: 0rem; 
}

.head_title_1 {
	overflow: hidden;
}

/* ------------------------------------------------------ */

/* .btn-primary-1 {
	color: #fff;
	background-color: #535035;
	border: 2px solid;
	border-color: #ff6863;
	padding: 1rem 3rem;
	margin-bottom: 1rem;
}

.btn-primary-1:hover {
	background-color: #eee;
	border-color: #eee;
	border: 2px solid #eee;
	color: #ff6863;
}
 */