<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.mapper.CartMapper">

	<!-- 				 < 카트 관련 Mapper > 					-->

	<!-- 카트 생성 -->	
	<insert id="addCart">
	INSERT INTO cart(email, addDate)
	VALUES (#{email}, now())
	</insert>
	<!-- 카트 생성 -->
	
	<!-- 카트 번호 조회 -->
	<select id="getCartNum">
	SELECT cart_id
	FROM cart
	WHERE email = #{email}
	</select>
	<!-- 카트 번호 조회 -->
	
	<!-- 카트 삭제 -->
	<delete id="delCart">
	DELETE FROM cart
	WHERE email = #{email}
	</delete>
	<!-- 카트 삭제 -->
	
	<!-- 아메리카노 갯수 조절 -->
	<update id="AMERICANO">
	UPDATE cart
	SET cartStock1 = +1
	WHERE email = #{email}
	</update>
	<!-- 아메리카노 갯수 조절 -->
	
	<!-- 에스프레소 갯수 조절 -->
	<update id="ESPRESSO">
	UPDATE cart
	SET cartStock2 = +1
	WHERE email = #{email}
	</update>
	<!-- 에스프레소 갯수 조절 -->
	
	<!-- 카페라떼 갯수 조절 -->
	<update id="CAFFELATTE">
	UPDATE cart
	SET cartStock3 = +1
	WHERE email = #{email}
	</update>	
	<!-- 카페라떼 갯수 조절 -->
	
	<!-- 카푸치노 갯수 조절 -->
	<update id="CAPPUCCINO">
	UPDATE cart
	SET cartStock4 = +1
	WHERE email = #{email}
	</update>	
	<!-- 카푸치노 갯수 조절 -->
	
	<!-- 녹차라떼 갯수 조절 -->
	<update id="GREENTEA_LATTE">
	UPDATE cart
	SET cartStock5 = +1
	WHERE email = #{email}
	</update>
	<!-- 녹차라떼 갯수 조절 -->

	<!-- 레모네이드 갯수 조절 -->
	<update id="LEMONADE">
	UPDATE cart
	SET cartStock6 = +1
	WHERE email = #{email}
	</update>	
	<!-- 레모네이드 갯수 조절 -->
	
	<!-- 카트 조회 -->
	<select id="getCart" resultType="com.company.domain.CartVO">
	<![CDATA[
	SELECT *
	FROM cart
	WHERE email = #{email}
	]]>
	</select>
	<!-- 카트 조회 -->
	
	<!-- 총 갯수 조회 -->
	<select id="totalNum" resultType="int">
	<![CDATA[
	SELECT SUM(cartStock1 + cartStock2 + cartStock3 + cartStock4 + cartStock5 + cartStock6)
	FROM cart
	WHERE email = #{email}
	]]>
	</select>
	<!-- 총 갯수 조회 -->
	
	<!-- 카트 초기화 -->
	<delete id="initialize">
	DELETE FROM cart
	WHERE email = #{email}
	</delete>
	<!-- 카트 초기화 -->
	
</mapper>