<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.mapper.CartMapper">

	<!-- 				 < 카트 관련 Mapper > 					-->

	<!-- 카트 생성 -->	
	<insert id="addCart">
	INSERT INTO cart(cart_email, cart_addDate)
	VALUES (#{email}, now())
	</insert>
	<!-- 카트 생성 -->
	
	<!-- 카트 번호 조회 -->
	<select id="getCartNum">
	SELECT cart_id
	FROM cart
	WHERE cart_email = #{cart_email}
	</select>
	<!-- 카트 번호 조회 -->
	
	<!-- 카트 삭제 -->
	<delete id="delCart">
	DELETE FROM cart
	WHERE cart_email = #{cart_email}
	</delete>
	<!-- 카트 삭제 -->
	
	
	<!-- 카트 조회 -->
	<select id="getCart" resultType="com.company.domain.CartVO">
	<![CDATA[
	SELECT *
	FROM cart JOIN products
	WHERE cart_email = #{cart_email}
	]]>
	</select>
	<!-- 카트 조회 -->
	
	<!-- 총 갯수 조회 -->
	<select id="totalNum" resultType="int">
	<![CDATA[
	SELECT SUM(product_amount)
	FROM cart
	WHERE cart_email = #{cart_email}
	]]>
	</select>
	<!-- 총 갯수 조회 -->
	
	<!-- 카트 초기화 -->
	<delete id="initialize">
	DELETE FROM cart
	WHERE cart_email = #{cart_email}
	</delete>
	<!-- 카트 초기화 -->
	
</mapper>